{
  "extends": "airbnb-base",
  "plugins": [
    "import"
  ],
  "globals": {
    "App": true,
    "Page": true,
    "getApp": true,
    "wx": true
  },
  "rules": {
    "comma-dangle": ["error", "never"]
  }
}
